<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ganasky" android:versionCode="1" android:versionName="1.0">

	<application android:icon="@drawable/icon" android:label="@string/hello"
		android:textSize="15sp"
		android:allowBackup="true"
		android:theme="@style/AppTheme">
		
		<!-- -主页面,对应的是GanaSkyMain.java文件 -->
		<activity android:name="GanaSkyMain" android:label="@string/app_ganaSkyMain">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- -登录页面 -->
		<activity android:name="LoginApp" android:label="@string/app_nameLogin"
			/>
		<!-- -注册页面 -->
		<activity android:name="RegisterApp" android:label="@string/app_nameRegister"
			/>
			
		<!-- 机票查询主界面 -->
		<activity android:name="TicketMainApp" android:label="@string/app_nameTicketMain" />
			
	</application>
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>